# misc
.DS_Store
*.pem

# local env files
.env*

# see https://poyo.hatenablog.jp/entry/2022/12/05/090000
go.work
go.work.sum

# nodejs
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo

# editor
.vscode

# app
web/public/dist.js
